!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => "robots", :content => "index, follow"}
    %meta{:name => "author", :content => "Softa"}
    = yield :meta_tags
    %title Multidão · Produção Cultural Colaborativa · em fase de mudanças...
    = stylesheet_link_tag "sites/new_multidao.css", :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => "/images/sites/#{current_site.path}/favicon.ico" }
  %body#multidao
    #content
      .wrapper
        #shares= render 'sites/multidao/shares'
        #box
          = image_tag 'multidao/logo_multidao.png'
          %p A Multidão está se transformando.
          %p Após a criação do Grupo Comum, resultado da junção das plataformas Catarse e Multidão, estamos cada vez mais empolgados com a ideia de oferecer mais diversidade e possibilidades inovadoras no universo do financiamento colaborativo.
          %p E por entendermos que o Catarse já realiza o papel de uma plataforma de crowdfunding voltada para o financiamento de projetos criativos diversos, não faz sentido atuar desta mesma forma com a Multidão.
          %p Por isso estamos nos transformando, e ressurgiremos em breve com uma nova proposta, com novas ideias!
          %p O objetivo final é que VOCÊ possa ter uma multitude de experiências com esta nova maneira de mobilizar pessoas, e desta forma fazer parte de iniciativas fantásticas.
          %p= link_to "Vamos conosco?", "http://catarse.me", :target => :_blank
        #catarse
          .logo= link_to image_tag('multidao/logo_catarse.png'), "http://catarse.me", :target => :_blank
          .click= image_tag 'multidao/clique.png'
        #comum
          = link_to image_tag('multidao/comum.png'), "http://comum.cc", :target => :_blank
          A Multidão e o Catarse são integrantes do #{link_to "Grupo Comum", "http://comum.cc", :target => :_blank}
