#footer_menu
  %ul
    %li= link_to t('.guidelines'), guidelines_path
    %li= link_to t('.faq'), faq_path
    %li= link_to t('.terms'), terms_path
    %li= link_to t('.privacy'), privacy_path
    %li= mail_to current_site.email, t('.email')
#social_menu
  %ul
    %li
      = link_to "http://twitter.com/#{current_site.twitter}", :target => :_blank do
        = image_tag('social/twitter_32.png', :title => "Twitter")
        = t('.twitter') 
    %li
      = link_to current_site.facebook, :target => :_blank do
        = image_tag('social/facebook_32.png', :title => "Facebook")
        = t('.facebook') 
    %li
      = link_to current_site.blog, :target => :_blank do
        = image_tag('social/rss_32.png', :title => "Blog")
        = t('.blog')
#colophon
  = link_to "", "http://softa.com.br", :target => :_blank, :id => "softa_logo"
  %p#copyright
    Copyleft
    = image_tag 'copyleft.png'
    = Date.today.year
  #grupo_comum
    = link_to "http://comum.cc", :target => :_blank do
      = image_tag('sites/catarse/logo_comum.png', :title => "Grupo Comum")
