#footer_menu
  %ul
    %li= link_to "Como funciona?", guidelines_path
    %li= link_to "FAQ/Ajuda", faq_path
    %li= link_to "Termos de uso", terms_path
    %li= link_to "Política de privacidade", privacy_path
    %li= mail_to current_site.email, "Contato"
#social_menu
  %ul
    %li
      = link_to "http://twitter.com/#{current_site.twitter}", :target => :_blank do
        = image_tag('social/twitter_32.png', :title => "Twitter")
        Siga no Twitter
    %li
      = link_to current_site.facebook, :target => :_blank do
        = image_tag('social/facebook_32.png', :title => "Facebook")
        Curta no Facebook
    %li
      = link_to current_site.blog, :target => :_blank do
        = image_tag('social/rss_32.png', :title => "Blog")
        Leia o blog
#colophon
  = link_to "", "http://softa.com.br", :target => :_blank, :id => "softa_logo"
  %p#copyright
    Copyleft
    = image_tag 'copyleft.png'
    = Date.today.year
  #grupo_comum
    = link_to "http://comum.cc", :target => :_blank do
      = image_tag('sites/catarse/logo_comum.png', :title => "Grupo Comum")
