#promo_top
  .text
    = t('.text_html')
    = form_tag('#', :method => :get, :id => 'banda_form') do
      %fieldset
        = submit_tag t('.submit')
  = link_to banda_path do
    = image_tag "sites/#{current_site.path}/banda.png"
  .clear
.clear
= javascript_include_tag 'promo_top'

#promo_video
  %iframe{:src => "http://player.vimeo.com/video/22585599?title=0&amp;byline=0&amp;portrait=0&amp;color=008800", :width => "880", :height => "497"}
-#
  #promo_title= t('.title_html')
  .clear

