-#promo_top
  .text
    = t('.text_html')
    = form_tag(banda_path, :method => :get, :id => 'banda_form') do
      %fieldset
        = submit_tag t('.submit')
  = link_to banda_path do
    = image_tag "sites/#{current_site.path}/banda.png"
  .clear
.clear

