#footer_content_wrapper
  #who_we_are
    %h1= t('.who_we_are')
    = t('.who_we_are_html')
  #learn_more
    %h1= t('.learn_more')
    %ul
      %li= link_to t('.about'), "TODO"
      %li= link_to t('.guidelines'), guidelines_path
      %li= link_to t('.faq'), faq_path
      %li= link_to t('.terms'), terms_path
      %li= link_to t('.privacy'), privacy_path
  #follow_us
    %h1= t('.follow_us')
    %ul
      %li
        = link_to current_site.facebook, :target => :_blank do
          = image_tag("sites/#{current_site.path}/facebook.png", :title => t('.facebook'))
          = t('.facebook')
      %li
        = link_to current_site.blog, :target => :_blank do
          = image_tag("sites/#{current_site.path}/blog.png", :title => t('.blog'))
          = t('.blog')
      %li
        = link_to "http://twitter.com/#{current_site.twitter}", :target => :_blank do
          = image_tag("sites/#{current_site.path}/twitter.png", :title => t('.twitter'))
          = t('.twitter')
      %li
        = link_to current_site.blog do
          = image_tag("sites/#{current_site.path}/rss.png", :title => t('.feed'))
          = t('.feed')
      %li
        = link_to "mailto:#{current_site.email}" do
          = image_tag("sites/#{current_site.path}/contact.png", :title => t('.contact'))
          = t('.contact')
  .clear
  #facebook_wrapper
    #fb-root
    %script{ :src => "http://connect.facebook.net/en_US/all.js#appId=219271678101224&amp;xfbml=1" }
    %fb:like{ :href => request.url, :send => "true", :width => "450", :show_faces => "true", :font => "arial" }
  #incomum_wrapper
    #incomum
      = t('.incomum')
      #incomum_text= t('.incomum_text')
    = image_tag("sites/#{current_site.path}/icon_incomum.png", :title => current_site.name)
    .clear
  .clear
#colophon_wrapper
  #colophon
    #powered_by
      = link_to "http://catarse.me", :target => :_blank do
        = image_tag("sites/#{current_site.path}/powered_by.png", :title => "powered by Catarse")
    #grupo_comum
      = link_to "http://comum.cc", :target => :_blank do
        = image_tag("sites/#{current_site.path}/logo_comum.png", :title => t('.comum'))
    .clear