#footer_menu
  %ul
    %li= link_to t('.guidelines'), guidelines_path
    %li= link_to t('.faq'), faq_path
    %li= link_to t('.terms'), terms_path
    %li= link_to t('.privacy'), privacy_path
#social_menu
  %ul
    %li
      = link_to 'http://www.facebook.com/pages/Multidaoart/139326962792941', :target => :_blank do
        = image_tag('sites/multidao/facebook.png', :title => "Facebook")
        = t('.facebook')
    %li
      = link_to 'http://twitter.com/multidao_art', :target => :_blank do
        = image_tag('sites/multidao/twitter.png', :title => "Twitter")
        = t('.twitter')
    %li
      = link_to 'http://blog.multidao.art.br', :target => :_blank do
        = image_tag('sites/multidao/rss.png', :title => "Blog")
        = t('.blog')
    %li
      = link_to "mailto:contato@multidao.art.br" do
        = image_tag('sites/multidao/contact.png', :title => t('.contact_title'))
        contato@multidao.art.br
#colophon
  #powered_by
    = link_to "http://catarse.me", :target => :_blank do
      = image_tag('sites/multidao/powered_by.png', :title => "powered by Catarse")
  #grupo_comum
    = link_to "http://comum.cc", :target => :_blank do
      = image_tag('sites/multidao/logo_comum.png', :title => t('.comum'))

