<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= @notification.email_subject %></title>
</head>
<body style="margin: 0;padding:0;">
  <table width="100%" id="background" border="0" cellspacing="0" cellpadding="0" frame="void" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse; background-color:#ccc;height:100%;">
      <tbody style="margin:0; padding:0; border:0;">
        <tr>
          <td align="center" style="margin:0; padding:0; border:0 none;" valign="top">
            <table width="600" border="0" cellspacing="0" cellpadding="0" frame="void" id="content" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse;">
              <tbody style="margin:0; padding:0; border:0;">
                <tr>
                  <td align="left" style="margin:0; padding:0; border:0 none; " valign="top">
                    <table border="0" cellspacing="0" cellpadding="0" frame="void" id="pre_header" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse;" width="100%">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:10px; line-height:12px; text-align:center; color:#888;">
                            <style>
                            .bar a{border:1px outset #ccc;
                            text-decoration:none;
                            background:#ddd url('http://c2892322.cdn.cloudfiles.rackspacecloud.com/company_bts-bg.png');
                            padding:4px;
                            margin:0;
                            color:black}
                            .bar a:hover{
                                border:1px solid #ccc !important; cursor:pointer;
                                }
                            .bar a:active{

                              background: #aaa !important;
                              -moz-box-shadow: inset 0 2px 2px 2px #888;
                              -webkit-box-shadow: inset 0 2px 2px 2px #888;
                              box-shadow: inset 0 2px 2px 2px #888;
                              }
                            </style>
                            <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:10px; line-height:22px; text-align:center; color:#444;" class="bar">
                              <div class="edit" id="intro"><%= t('.intro') %></div>
                              <a href="#" class="weblink" style="
                                border-radius: 3px 0 0 3px;
                                -moz-border-radius: 3px 0 0 3px;
                                -webkit-border-radius: 3px 0 0 3px;
                                border:1px outset #ccc;
                                text-decoration:none;
                                background-color:#ddd;
                                background:#ddd url('http://c2892322.cdn.cloudfiles.rackspacecloud.com/company_bts-bg.png');
                                padding:4px;
                                margin:0;
                                color:#333
                              "><%= t('.weblink') %></a>
                              <a href="#" class="whitelist" style="
                                border:1px outset #ccc;
                                border-left:1px solid rgba(0,0,0,0);
                                text-decoration:none;
                                background-color:#ddd;
                                background:#ddd url('http://c2892322.cdn.cloudfiles.rackspacecloud.com/company_bts-bg.png');
                                padding:4px;
                                margin:0;
                                border-radius:0;
                                color:#333
                              "><%= t('.whitelist') %></a>
                              <a href="#" class="forward" style="
                                border:1px outset #ccc;
                                border-left:1px solid rgba(0,0,0,0);
                                text-decoration:none;
                                background-color:#ddd;
                                background:#ddd url('http://c2892322.cdn.cloudfiles.rackspacecloud.com/company_bts-bg.png');
                                padding:4px;
                                margin:0;
                                border-radius:0;
                                color:#333
                              "><%= t('.forward') %></a>
                              <a href="#" class="unsubscribe" style="
                                border-radius: 0 3px 3px 0;
                                -moz-border-radius: 0 3px 3px 0;
                                -webkit-border-radius: 0 3px 3px 0;
                                border:1px outset #ccc;
                                border-left:1px solid rgba(0,0,0,0);
                                text-decoration:none;
                                background-color:#ddd;
                                background:#ddd url('http://c2892322.cdn.cloudfiles.rackspacecloud.com/company_bts-bg.png');
                                padding:4px;
                                margin:0;
                                color:#333
                              "><%= t('.unsubscribe') %></a>
                              <br>
                              <br>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" frame="void" id="header" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td align="left" style="margin:0; border:0 none;" valign="top">
                            <img class="edit" width="600" src="<%= t('site.base_url') %>/images/email_header.<%= I18n.locale %>.png" style="border:0 none; display:block;" alt="<%= t('.alt') %>">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" frame="void" id="columns" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td width="600" id="main" align="left" valign="top" style="margin:0; padding:20px; border:0 none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height:150%; background-color:#fff">
                            <table width="100%" frame="void" cellspacing="0" cellpadding="0" border="0" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse; font-size:15px; color:#333;">
                              <tbody style="margin:0; padding:0; border:0;">
                                <tr>
                                  <td align="left" valign="top" style="margin:0; border:0 none;">
                                    <div class="repeat" id="paragraph" style="margin:0; padding:0px; border:0 none; font-size:14px; color:#666; text-align:left;">
                                      <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-color: initial; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 17px; ">
                                        <% if @notification.user.name %>
                                          <%= t('.hello') %>, <%= @notification.user.name %>!
                                        <% else %>
                                          <%= t('.hello') %>!
                                        <% end %>
                                        <br>
                                        <br>
                                        <%= @notification.email_text.html_safe %>
                                        <br>
                                        <br>
                                        <% if @notification.facebook_text or @notification.twitter_text %>
                                          <div style="text-align: center;">
                                            <% if @notification.facebook_text %>
                                              <%= link_to "http://www.facebook.com/share.php?u=#{t('site.base_url')}/projects/#{@notification.project.to_param}&t=#{@notification.facebook_text}", :target => :_blank do %>
                                                <%= image_tag "#{t('site.base_url')}/images/auth/facebook_64.png", :title => 'Facebook', :class => 'social' %>
                                              <% end %>
                                            <% end %>
                                            <% if @notification.twitter_text %>
                                              <%= link_to "http://twitter.com/?status=#{@notification.twitter_text}", :target => :_blank do %>
                                                <%= image_tag "#{t('site.base_url')}/images/auth/twitter_64.png", :title => 'Twitter', :class => 'social' %>
                                              <% end %>
                                            <% end %>
                                          </div>
                                          <br>
                                        <% end %>
                                        <%= t('.salutation') %>
                                        <br/>
                                        <br/>
                                        <%= t('.signature') %>
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" frame="void" id="post_footer" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse;">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td align="right" valign="top" style="margin:0; padding:20px 0; color:#333333; font-size:11px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border:0 none; text-align:right;">
                            <a href="#" id="whitelist" style="color: #008800 !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 18px; "><%= t('.whitelist_long') %></a>
                            <br><br>
                            <%= t('.intro') %><br><%= t('.unsubscribe_long') %>, <a href="#" id="unsubscribe" style="color: #008800 !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal;"><%= t('click_here').downcase %></a>
                            <br><br>
                            <a href="http://mailee.me/" style="color: #008800 !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 18px; "><%= t('.mailee') %></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
</body>