%h1= t('.title', :name => @user.display_name)
%ul
  %li
    - if @user.email
      = @user.email
    - else
      #{@user.display_name} #{t('.no_email')}.
  %li
    %strong= @user.display_credits
    #{t('.credits')}.
