%h1
  - if current_user and @user == current_user
    = t('.title_current_user')
  - else
    = t('.title', :name => @user.display_name)
- if @projects.empty?
  #no_projects
    - if current_user and @user == current_user
      = t('.no_projects_current_user_html', :link => link_to(t('click_here').downcase, guidelines_path))
    - else
      = t('.no_projects', :name => @user.display_name)
- else
  %ul
    - @projects.each do |project|
      %li
        = link_to project_path(project) do
          = image_tag project.display_image, :class => 'project'
          = project.name
        %p= project.headline
        .clear
%hr
