= content_for :content_header do
  = image_tag 'badge.png', :id => "badge" if @user.backer?
  #profile_header
    .image
      - if current_user and @user == current_user
        = link_to 'http://br.gravatar.com/', :target => :_blank do
          = image_tag @user.display_image
      - else
        = image_tag @user.display_image
    .info
      %h1
        - if current_user and @user == current_user
          #{on_the_spot_edit @user, :name, :tooltip => 'Clique aqui para preencher seu nome...'}
        - else
          = @user.display_name
      %h2
        - if current_user and @user == current_user
          #{on_the_spot_edit @user, :bio, :type => :textarea, :tooltip => 'Clique aqui para escrever sobre você...'}
        - else
          = @user.bio
    .clear
#user_feed
  - if current_user and @user == current_user
    #gravatar_hint
      = link_to 'http://br.gravatar.com/', :target => :_blank do
        = image_tag 'gravatar.png', :id => 'gravatar_logo'
      Quer mudar sua foto? Use o #{link_to 'Gravatar', 'http://br.gravatar.com/', :target => :_blank} com seu email. É tão simples quanto enviar uma imagem e já funciona para outros sites também ;)
    %h1 Meus dados
    %ul
      %li
        #{on_the_spot_edit @user, :email, :tooltip => "Clique aqui para preencher seu email..."}
        .hint Seu email será utilizado apenas para envio de comunicações do Catarse e dos projetos que você apoiar. Ele não estará visível em seu perfil. Caso um projeto que você apoiou seja bem sucedido, nós daremos seu email para o dono do projeto para que ele possa providenciar as recompensas.
      %li
        = hidden_field_tag 'id', @user.id
        = check_box_tag 'newsletter', '1', @user.newsletter
        = label_tag 'newsletter', 'Quero receber novidades do Catarse por email'
        %br
        = check_box_tag 'project_updates', '1', @user.project_updates
        = label_tag 'project_updates', 'Quero receber atualizações dos projetos por email'
    %hr
  - elsif current_user and current_user.admin
    %h1 Dados de #{@user.display_name}
    %ul
      %li
        - if @user.email
          = @user.email
        - else
          #{@user.display_name} ainda não preencheu seu email.
  %h1
    - if current_user and @user == current_user
      Meus projetos
    - else
      Projetos de #{@user.display_name}
  - if @projects.empty?
    #no_projects
      - if current_user and @user == current_user
        Você ainda não enviou nenhum projeto para o Catarse. Deixe a inspiração bater e #{link_to 'clique aqui', new_project_path} para começar!
      - else
        #{@user.display_name} ainda não enviou nenhum projeto para o Catarse. Será que a inspiração vai bater uma hora dessas?
  - else
    %ul
      - @projects.each do |project|
        %li
          = link_to project_path(project) do
            = image_tag project.display_image, :class => 'project'
            = project.name
          %p= project.headline
          .clear
  %hr
  %h1
    - if current_user and @user == current_user
      Projetos que já apoiei
    - else
      Projetos que #{@user.display_name} já apoiou
  - if @backs.empty?
    #no_backs
      - if current_user and @user == current_user
        Você ainda não apoiou nenhum projeto. Que tal #{link_to 'começar agora', root_path}?
      - else
        #{@user.display_name} ainda não apoiou nenhum projeto. Mas a gente sabe que é só questão de tempo! :D
  - else
    %ul
      - @backs.each do |back|
        %li
          = back.confirmed_at.strftime('%d/%m') if back.confirmed_at
          = link_to project_path(back.project) do
            = image_tag back.project.display_image, :class => 'project'
            = back.project.name
          %p
            - if current_user and @user == current_user
              - if back.reward
                Sua recompensa: #{back.reward.display_minimum} - #{truncate(back.reward.description, :length => 140)}
              - else
                Você não selecionou nenhuma recompensa
            - else
              = back.project.headline
          .clear
= javascript_include_tag 'profile' if current_user and @user == current_user

