.info
  .number= @project.total_backers
  #{pluralize_without_number(@project.total_backers, t('.person'))} #{t('.has')} #{pluralize_without_number(@project.total_backers, t('.backed_singular'), t('.backed_plural'))}
  .number= @project.display_pledged
  = t('.reached_of')
  %strong= @project.display_goal
  #time_to_go.number= @project.time_to_go[:time]
  #{@project.time_to_go[:unit].capitalize} #{pluralize_without_number(@project.time_to_go[:time], t('remaining_singular'), t('remaining_plural'))}
  .project_progress
    .progress_bar
      .progress{ :style => "width: #{ @project.display_percent }%" }
        &nbsp;
- if @project.successful?
  .project_warning.successful
    .text
      - if @project.expired?
        = t('.project_warning.successful.expired', :date => @project.display_expires_at)
      - else
        = t('.project_warning.successful.not_expired', :date => @project.display_expires_at)
- elsif @project.waiting_confirmation?
  .project_warning.waiting_confirmation
    .text= t('.project_warning.waiting_confirmation')
- else
  .project_warning.not_successful
    .text
      - if @project.expired?
        = t('.project_warning.not_successful.expired', :goal => @project.display_goal, :date => @project.display_expires_at)
      - else
        = t('.project_warning.not_successful.not_expired', :goal => @project.display_goal, :date => @project.display_expires_at)
.info
  = form_tag(back_project_path(@project), :method => :get, :id => 'back_project_form') do
    %fieldset
      = submit_tag t('.submit'), :disabled => (not @project.can_back?)
