= semantic_form_for @project, :html => { :id => 'project_form' } do |form|
  = form.inputs do
    = form.input :user_id, :as => :hidden, :value => current_user.id, :required => true
    = form.input :name, :label => 'Nome do projeto', :hint => "Qual o nome do seu projeto? Escolha com carinho, pois isto irá influenciar as chances do seu projeto atingir o mínimo.", :required => true, :as => :string
    = form.input :video_url, :label => "Vídeo", :hint => "Cole a URL de um vídeo no #{link_to 'Vimeo', 'http://vimeo.com', :target => :_blank}. Nós escolhemos o Vimeo pois ele é mais bonito e não tem propaganda. Assim, seu projeto fica mais bonito também! <strong>Produza seu vídeo o melhor possível e faça um vídeo específico para a campanha do Catarse</strong>. Se há um ponto que diferencia os projetos que antingem o mínimo dos outros é o vídeo. Observe ;)".html_safe, :required => true, :as => :string
    = form.input :about, :label => "Sobre o seu projeto", :hint => "Conte-nos um pouco sobre o que você quer fazer, de quanto precisa e para que. Seja sucinto e pontual, mas não esqueça de presentear os leitores com algo que mexa com eles. Afinal, é sua criação e eles precisam ver sua paixão em prática!", :required => true
    = form.input :headline, :label => "Frase de efeito", :hint => "Resuma em 140 caracteres o seu projeto. Esta frase será o primeiro contato das pessoas com o seu projeto, antes mesmo de ver o vídeo. Seja criativo, transparente e direto :)", :required => true, :as => :text, :input_html => { :maxlength => 140 }
    = form.input :category, :label => "Categoria", :hint => "Escolha em que categoria você quer que seu projeto apareça. Não se preocupe caso você ache que ele se enquadra em mais de uma. Escolha aquela onde você quer que as pessoas o encontrem.", :collection => Category.all(:order => :name), :required => true
    = form.input :goal, :label => "De quanto você precisa?", :hint => "Pense bastante no valor que você vai solicitar. Ele deve ser o <strong>mínimo necessário para o projeto acontecer</strong>. Nada mais, nada menos. Se você pedir demais, suas chances de atingir o mínimo serão menores; se pedir de menos, não conseguirá realizar o projeto e, conseqüentemente terá sua reputação prejudicada, o que dificulta realizações futuras.".html_safe, :required => true, :input_html => { :value => (( '%.2f' % @project.goal).gsub('.', ',') if @project.goal) }
    .important
      Lembre-se que o Catarse ficará com 5%, e o
      = link_to "MoIP", "http://www.moip.com.br/", :target => :_blank
      cobra uma taxa que varia entre 6% e 7% por transação. Inclua estes valores no seu orçamento, para executar o projeto sem problemas, depois.
    = form.input :deadline, :as => :string, :label => "Qual o prazo para atingir o mínimo?", :hint => "Finalmente, escolha quanto tempo você quer que sua campanha dure. De novo, é uma escolha estratégica: se você botar muito tempo, as pessoas perderão interesse no meio do caminho; se botar muito pouco, poderá não atingir o mínimo a tempo.", :required => true, :input_html => { :value => (@project.deadline.strftime('%d/%m/%Y') if @project.deadline) }
    #project_rewards
      :javascript
        var rewards_count = #{@project.rewards.size}
        var rewards_id = #{@project.rewards.size}
      %h3 Recompensas
      %p A gente acredita que a melhor maneira de inspirar as pessoas a apoiar um projeto é oferecendo excelentes – e criativas! – recompensas. Todo mundo adora edições limitadas, coisas únicas e experiências divertidas (festas, guloseimas, viajar de balão!). Gaste um bom tempo bolando recompensas criativas e as pessoas se interessarão.
      #rewards_wrapper
        = form.semantic_fields_for :rewards do |reward|
          .reward
            .remove_reward_wrapper
              %a.remove_reward{:href=>'#'} remover
            = reward.input :description, :as => :text, :label => "Descrição", :hint => "Descreva sua recompensa de um jeito que desperte o interesse das pessoas para apoiar o projeto. Não seja tímido!", :input_html => { :maxlength => 140 }
            .left
              = reward.input :minimum_value, :label => "Valor mínimo", :hint => "Este é valor mínimo de apoio para escolher esta recompensa."
            .right
              = reward.input :maximum_backers, :label => "Máximo de pessoas (opcional)", :required => false, :hint => "Se sua recompensa é limitada, informe o máximo de pessoas."
            .clear
      #add_reward_wrapper
        %a#add_reward{:href=>'#'} Adicionar recompensa
    .submit
      %fieldset
        = check_box_tag 'accept'
        = label_tag 'accept', "Eu li e estou de acordo com os #{link_to 'termos de serviço', '#'}.".html_safe, :class => 'inline'
      = form.buttons do
        = form.commit_button 'Enviar o projeto', :button_html => {:disabled => true}
= javascript_include_tag 'project_form'

