- unless @home_page.empty?
  .project_list_header= t(".title")
  .project_list_subheader= t(".subtitle")
  #home_page_projects
    = render :partial => 'project', :collection => @home_page
    .clear
  .explore_more
    %hr
    = link_to explore_quick_path("recommended") do
      = t('.explore_recommended')
      .explore_more_arrow >

