#press
  %h1= t('.title')
  = link_to "http://video.globo.com/Videos/Player/Noticias/0,,GIM1477178-7823-TECNOLOGIA+DIGITAL+E+REDE+SOCIAIS+AJUDAM+NO+INVESTIMENTO+DE+PROJETOS+CULTURAIS,00.html", :target => :_blank do
    = image_tag "press/globonews_pb.png", :title => "Globo News"
  = link_to "http://economia.estadao.com.br/noticias/not_55827.htm", :target => :_blank do
    = image_tag "press/estadao_pb.png", :title => "O Estado de São Paulo"
  = link_to "http://www.istoedinheiro.com.br/noticias/48856_BOLSA+DE+IDEIAS", :target => :_blank do
    = image_tag "press/istoedinheiro_pb.png", :title => "ISTOÉ Dinheiro"
  = link_to "http://www1.folha.uol.com.br/mercado/848347-captacao-em-redes-sociais-banca-empreendedorismo.shtml", :target => :_blank do
    = image_tag "press/folha_pb.png", :title => "Folha de São Paulo"
  = link_to "http://oglobo.globo.com/cultura/mat/2011/02/04/praticas-de-crowd-funding-uma-forma-de-financiamento-coletivo-organizada-na-internet-ampliam-os-mecanismos-de-investimento-cultural-923735382.asp", :target => :_blank do
    = image_tag "press/oglobo_pb.png", :title => "O Globo"
  = link_to "http://revistagalileu.globo.com/Revista/Common/0,,EMI204680-17773,00-NEGOCIOS+EM+COMUNIDADE.html", :target => :_blank do
    = image_tag "press/galileu_pb.png", :title => "Revista Galileu"
  = link_to "http://exame.abril.com.br/pme/noticias/fenomeno-do-crowdfunding-ganha-forca-no-brasil", :target => :_blank do
    = image_tag "press/exame_pb.png", :title => "Exame.com"
  = link_to "http://revistapegn.globo.com/Revista/Common/0,,EMI204320-17180,00-CAMPUS+PARTY+E+PONTO+DE+ENCONTRO+DE+INVESTIDORES+E+STARTUPS.html", :target => :_blank do
    = image_tag "press/pegn_pb.png", :title => "Pequenas Empresas & Grandes Negócios"
  = link_to "http://economia.ig.com.br/financas/seunegocio/as+aulas+em+video+e+a+internet+inteligente+que+ganharam+anjos/n1237982874272.html", :target => :_blank do
    = image_tag "press/ig_pb.png", :title => "iG"
  = link_to "http://startupi.com.br/2011/o-crowdfunding-segundo-catarse-da-sabedoria-da-multidao-ao-financiamento-coletivo/", :target => :_blank do
    = image_tag "press/startupi_pb.png", :title => "startupi"
  = link_to "http://readwriteweb.com.br/2010/12/30/crowdfunding-ja-ouviu-falar-sera-que-pega-por-aqui/", :target => :_blank do
    = image_tag "press/rwwbr_pb.png", :title => "Read Write Web Brasil"

