.project_box
  .project_wrap
    - if project.expired?
      .status_image
        = link_to project_path(project) do
          - if project.successful?
            = image_tag "successful.#{I18n.locale}.png"
          - elsif project.waiting_confirmation?
            = image_tag "waiting_confirmation.#{I18n.locale}.png"
          - else
            = image_tag "not_successful.#{I18n.locale}.png"
    .project_category= project.category.name
    .project_header
      = link_to project_path(project) do
        .project_image= image_tag project.display_image
        %h1= project.name
    .project_owner
      por #{project.user.name}
    .project_headline
      - if current_user and current_user.admin
        #{on_the_spot_edit project, :headline}
      - else
        = project.headline
    .clear
  .project_progress
    .progress_bar
      .progress{ :style => "width: #{project.display_percent}%" }
        &nbsp;
    .progress_info
      %ul
        %li
          %strong #{project.percent}%
          %br
          = t('.reached')
        %li
          %strong= project.display_pledged
          %br
          = t('.backed')
        %li
          %strong #{project.time_to_go[:time]} #{project.time_to_go[:unit]}
          %br
          #{pluralize_without_number(project.time_to_go[:time], t('remaining_singular'), t('remaining_plural'))}
- if defined?(project_curated_page) and project_curated_page.count > 0 and project_curated_page.first.description
  .project_curator_description
    %span= project_curated_page.first.description
