%br
- if defined?(quick)
  .project_list_header= t(".#{quick}.title")
  .project_list_subheader= t(".#{quick}.subtitle")
.project_list_wrapper
  .project_list
    = render :partial => 'projects/project', :collection => collection
- if defined?(quick)
  .explore_more
    %hr
    = link_to explore_quick_path(quick) do
      = t(".#{quick}.explore")
      .explore_more_arrow >
