%h1
  = t('.title')
  = image_tag "rewards_left_border.png", :id => 'rewards_left_border'
  = image_tag "rewards_right_border.png", :id => 'rewards_right_border'
%ul
  - @rewards.each do |reward|
    %li{:class => ('clickable' if @project.can_back? and not reward.sold_out?)}
      = hidden_field_tag 'url', "#{back_project_path(@project)}/?reward_id=#{reward.id}"
      %h1= t('.reward_title', :minimum => reward.display_minimum)
      - if reward.maximum_backers
        .maximum_backers
          - if reward.sold_out?
            .sold_out= t('reward.sold_out')
          - else
            .limited= t('reward.limited')
          .remaining= reward.display_remaining
        .clear
      - if current_user and current_user.admin
        #{on_the_spot_edit reward, :description, :type => :textarea}
      - else
        = auto_link(reward.description, :html => {:target => :_blank})
      .clear
      .reward_backers
        = pluralize reward.backers.confirmed.count, t('backer_singular'), t('backer_plural')
        = image_tag "reward_badge.png", :class => "badge"
