%h1
  Apoie e ganhe...
  = image_tag "sites/#{current_site.path}/rewards_left_border.png", :id => 'rewards_left_border'
  = image_tag "sites/#{current_site.path}/rewards_right_border.png", :id => 'rewards_right_border'
%ul
  - @rewards.each do |reward|
    %li{:class => ('clickable' if @project.can_back?(current_site) and not reward.sold_out?)}
      = hidden_field_tag 'url', "#{back_project_path(@project)}/?reward_id=#{reward.id}"
      %h1 Para #{reward.display_minimum} ou mais
      - if reward.maximum_backers
        .maximum_backers
          - if reward.sold_out?
            .sold_out Esgotada
          - else
            .limited Limitada
          .remaining
            = reward.remaining
            de
            = reward.maximum_backers
            disponíveis
        .clear
      - if current_user and current_user.admin
        #{on_the_spot_edit reward, :description, :type => :textarea}
      - else
        = auto_link(reward.description, :html => {:target => :_blank})
      .clear
      .reward_backers
        = pluralize reward.backers.confirmed.count, 'apoiador', 'apoiadores'
        = image_tag "sites/#{current_site.path}/reward_badge.png", :class => "badge"

