= content_for :content_header do
  %h1 Envie seu projeto
  %h2 Mas antes, saiba um pouco mais sobre o que você pode ou não pode fazer no Catarse.
%h1 Melhores práticas no Catarse
%p At Kickstarter we welcome projects from the creative arts—Art, Dance, Film, Music, Photography, Publishing, and Theater—as well as projects from the diverse and creative fields of Food, Design, Fashion, Technology, Games, Comics and Journalism. We currently only support projects from these fields.
%p We wish we didn’t have to do it, but projects violating our guidelines will be removed. If you have questions you can reach us here.
%p No charity projects or causes. This includes everything from raising money for the Red Cross to individual causes such as “Buy Jenny a Prom Dress” to awareness campaigns about an issue. There are many important causes, however Kickstarter is not a general fundraising site. Please note that non-profits with creative projects that fit our other guidelines are welcome to use Kickstarter.
%p No business funding, projects only. If your project hopes to make money, that’s perfectly fine! Rather, we’re underlining that we only allow projects. A project is something finite, with a clear beginning and end. Someone can be held accountable to the framework of a project—a project was either completed or it wasn’t—and there are definable expectations that everyone can agree to. Examples are making a film versus starting a film studio, or designing a new piece of apparel versus starting a fashion label.
%p No fundraising for self-help projects or As-Seen-on-TV products. These kinds of projects are too overtly commercial, and not in the spirit of creativity that we support.
%p No fundraising to hire programmers/developers to build your website/app. Whether it’s a website for documentary filmmakers or a cool idea for an iPhone game, we only support the funding of website/app projects if they are by the developers themselves.
%p What about technology projects in general?
%p Creative explorations of technology and the web are awesome. Kickstarter is full of imaginative applications of technology: grassroots mapping, open source DNA projects, DIY tinkering, and other creative uses of technology. These projects are great!
%p Our “no business funding” rule applies to technology projects too. Whether you’re making a new ecommerce site or building solar panels, if it’s first and foremost a business it’s not appropriate for Kickstarter.
%p Open source projects are great. We’re huge fans of projects that benefit the open source community. This was key for Diaspora’s success—it was first and foremost an open source project.
%p All projects must offer rewards. Kickstarter is not a general fundraising site, it’s a form of commerce and patronage. If you’re not viewing rewards as core to your project, Kickstarter may not be for you. Please note that raffles, financial returns, and investment offers are prohibited.
= form_tag(new_project_path, :method => :get, :id => 'guidelines_form') do
  %fieldset
    = check_box_tag 'accept'
    = label_tag 'accept', 'Eu li e entendi as melhores práticas no Catarse.'
  %fieldset
    = submit_tag 'Continuar', :disabled => true
= javascript_include_tag 'guidelines'
