= content_for :content_header do
  %h1 Como funciona #{current_site.the_name}?
  %h2 Antes de enviar seu projeto, saiba um pouco mais sobre como funciona #{current_site.the_name}.
#how_it_works
  #{current_site.the_name(true)} funciona assim: você envia seu projeto, diz
  %strong quanto precisa
  e
  %strong até quando
  quer arrecadar este dinheiro. Aí você divulga o projeto e as pessoas podem optar por
  %strong apoiar com qualquer valor
  a partir de R$ 10 e
  %strong receber recompensas
  por isto! Se até o prazo escolhido você tiver atingido o valor que precisa, você recebe o dinheiro. Senão, todo mundo recebe o dinheiro de volta. Simples assim.
  #show_tips
    %a{:href => '#'} Veja mais dicas sobre como funciona #{current_site.the_name}
#more_tips.hide
  %h2 Como funciona isso de financiamento colaborativo?
  %h3 Nossa fórmula mágica
  %p A gente acredita que a melhor maneira de inspirar as pessoas a apoiar um projeto é oferecendo excelentes – e criativas! – recompensas. Todo mundo adora edições limitadas, coisas únicas e experiências divertidas (festas, guloseimas, viajar de balão!). Gaste um bom tempo bolando recompensas criativas e as pessoas se interessarão.
  %h3 E como funciona esse negócio de tudo ou nada?
  %p N#{current_site.the_name}, um projeto só é financiado se o objetivo proposto for alcançado dentro do prazo. Se isso não acontecer, os apoiadores recebem seu dinheiro de volta. Por quê? Para diminuir os riscos de todo mundo. Desse jeito, não haverá expectativas de que um projeto seja executado com uma grana insuficiente – o que dificultaria também na distribuição das recompensas.
  %h3 E quanto eu pago por isto?
  %p
    Para colocar um projeto no site, não custa nada. Agora, se (e somente se) o projeto for bem-sucedido, #{current_site.the_name} fica com 5% do valor arrecadado. Já o
    = link_to "MoIP", "http://www.moip.com.br/", :target => :_blank
    (que processa os pagamentos) cobra uma taxa que varia entre 6% e 7% por transação.
  %h3 E a propriedade intelectual dos projetos?
  %p Ela é inteiramente sua, 100%. Não ficamos com nada, nadinha.
  %h3 E de onde vem o dinheiro que financia os projetos?
  %p Bem, no começo, é importante que você traga gente que você conheça para apoiar seu projeto: seus amigos, familiares e gente que já é fã do seu trabalho. Se eles gostarem, seu projeto vai se espalhar pelas comunidades que essas pessoas fazem parte e vai cada vez atrair mais gente. Uma boa ideia, bem comunicada, pode se espalhar rápida e amplamente.
  %h3 E quanto eu deveria pedir para financiar meu projeto?
  %p O ponto chave aqui é entender o seu alcance. Pense sobre sua rede de relacionamentos e como o seu projeto e as suas recompensas vão ser atrativos para essas pessoas.
  %h3 E eu posso arrecadar mais do que o meu objetivo?
  %p Com certeza! Não há limite máximo. Os projetos aceitarão apoiadores até o último segundo do prazo final.
  %h3 Mas minhas ideias não são grandiosas nem super importantes. #{current_site.the_name(true)} serve pra mim?
  %p Lógico! O projeto pode ser pequeno, grande, sério, engraçado, tradicional, inovador. É um projeto que você irá finalizar em 1 semana e precisa de pouco dinheiro? Perfeito, estamos de braços abertos.
  %h3 E que tipos de projetos se dão bem? Qual é o segredo?
  %p O primeiro, disparado, é a paixão pelo projeto. A transparência e a habilidade para executar o projeto vêm logo após. Mas a sua capacidade de divulgar o projeto, principalmente na internet, será fundamental.
%h2 E é só enviar meu projeto e ele aparecerá no site?
%p
  Na verdade, não. Nós
  %strong selecionamos os projetos
  que irão aparecer #{current_site.in_the_name}. Chamamos este processo de curadoria: nossa intenção é divulgar somente projetos bacanas e que estejam prontos para ir ao público pedir apoio financeiro. Mas não se preocupe: somos bastante abertos em relação ao que é um projeto bacana :)
%h2 E que tipos de projetos #{current_site.the_name} aceita?
%p A gente está de braços abertos para projetos artísticos – Artes Plásticas, Circo, Dança, Filmes, Fotografia, Música, Teatro, etc. – e também para projetos criativos que surjam em campos como Alimentação, Design, Moda, Tecnologia, Jogos, Quadrinhos, Jornalismo, entre vários outros.
%p
  %strong Não aceitamos projetos de caridade.
  Não que a gente não goste destes projetos ou não ache que são importantes: longe disso. Mas #{current_site.the_name} é um site que tem foco em projetos criativos. No entanto, se seu projeto envolve uma causa social e é criativo ao mesmo tempo, a gente o aceitará tranquilamente.
%p
  %strong Não financiamos empresas, apenas projetos.
  Se o seu projeto tem como intuito ganhar dinheiro, nenhum problema! O que a gente quer dizer é que só aceitaremos projetos, ou seja: algo que seja finito, com um começo e um fim bem delimitados. Por exemplo, se você quer reformar sua lojinha de doces artesanais de uma maneira criativa, está mais do que convidado a compartilhar seu projeto. Mas #{current_site.the_name} não é o lugar certo se você quiser manter uma loja por tempo indeterminado. Desenhar uma nova coleção de roupas, sim; manter uma marca de roupas, sem um projeto finito, não.
%p
  %strong Todos os projetos tem que oferecer recompensas.
  #{current_site.the_name(true)} é uma forma de comércio e mecenato. Se você não acha que as recompensas são parte fundamental do seu projeto, talvez #{current_site.the_name} não seja a melhor solução para você. Ah, e lembre-se que rifas, sorteios, retorno financeiro e participação societária são proibidos.
%p Bem, e qualquer dúvida que você tiver, é só falar com a gente #{mail_to current_site.email, "por aqui"}.
= form_tag(start_projects_path, :method => :get, :id => 'guidelines_form') do
  %fieldset
    = check_box_tag 'accept'
    = label_tag 'accept', "Eu li e entendi como funciona #{current_site.the_name}."
  %fieldset
    = submit_tag 'Enviar meu projeto', :disabled => true
= javascript_include_tag 'guidelines'
