%header#projects_header
  %h1= t 'content.header.punchline'
  %h2
    = t 'content.header.description'
%section#projects
  %article.project
    .wrap.project
      %header.project
        - link_to '#' do
          = image_tag 'project01.jpg'
          %h1 Tudo se encaixa
      %footer.project
        por Lumineiro
      .description.project
        Tudo se encaixa é um número de malabarismo com caixas. Lumineiro adora pão de queijo e petit gateau e o trabalho de Amedeo Modigliani.
      %span.category.project
        Circo
      .clear
    %aside.project
      .progress_bar
        .progress{ :style => "width: 100%" }
          &nbsp;
      %ul
        %li
          %strong 128%
          %br
          atingido
        %li
          %strong R$ 13.452
          %br
          levantados
        %li
          %strong 26 dias
          %br
          restantes
  %article.project
    .wrap.project
      %header.project
        - link_to '#' do
          = image_tag 'project02.jpg'
          %h1 Antípodas, Igreine e outros
      %footer.project
        por Alexandre Bandeira
      .description.project
        O artista plástico Alexandre Bandeira quer terminar sua série de quadros inspirados nas diversas vidas que temos, reais ou surreais.
      %span.category.project
        Artes plásticas
      .clear
    %aside.project
      .progress_bar
        .progress{ :style => "width: 42%" }
          &nbsp;
      %ul
        %li
          %strong 42%
          %br
          atingido
        %li
          %strong R$ 822
          %br
          levantados
        %li
          %strong 10 minutos
          %br
          restantes
  %article.project
    .wrap.project
      %header.project
        - link_to '#' do
          = image_tag 'project03.png'
          %h1 Ajude um reporter
      %footer.project
        por Gustavo Carneiro
      .description.project
        O Ajude o reporter conecta jornalistas às fontes. Ajude a construir esta plataforma de crowdsourcing jornalístico.
      %span.category.project
        Jornalismo
      .clear
    %aside.project
      .progress_bar
        .progress{ :style => "width: 89%" }
          &nbsp;
      %ul
        %li
          %strong 89%
          %br
          atingido
        %li
          %strong R$ 10.536
          %br
          levantados
        %li
          %strong 6 horas
          %br
          restantes
  %article.project
    .wrap.project
      %header.project
        - link_to '#' do
          = image_tag 'project04.jpg'
          %h1 Absurdo Fantástico, o filme
      %footer.project
        por Cisco Vasques
      .description.project
        Um longa metragem de videoarte que aniquila as definições, restando apenas a experiência. Absurdo fantástico. Sem mais.
      %span.category.project
        Cinema & Vídeo
      .clear
    %aside.project
      .progress_bar
        .progress{ :style => "width: 100%" }
          &nbsp;
      %ul
        %li
          %strong 2003%
          %br
          atingido
        %li
          %strong R$ 202.456
          %br
          levantados
        %li
          %strong 38 dias
          %br
          restantes
  .clear

