= content_for :content_header do
  %h1 Apoiadores a confirmar
#pending_backers
  - if @backers.empty?
    Não há nenhum apoiador a confirmar
  - else
    %ul
      - @backers.each do |backer|
        %li{ :id => backer.id }
          = backer.created_at.strftime('%d/%m %H:%M')
          = link_to user_path(backer.user) do
            = image_tag backer.user.display_image, :class => 'user'
            = backer.user.display_name
          %p #{backer.project.name} - #{backer.project.headline}
          .clear
          = check_box_tag 'confirmed', '1', backer.confirmed
          = label_tag 'confirmed', 'Confirmado?'
= javascript_include_tag 'pending_backers'
