= content_for :content_header do
  %h1= t('.title')
  %h2
    %strong= @total_backers
    = t('.total_backers')
    ·
    %strong= @total_backs
    = t('.total_backs')
    ·
    %strong= number_to_currency @total_backed, :unit => 'R$', :precision => 0, :delimiter => '.'
    = t('.total_backed')
    ·
    %strong= @total_users
    = t('.total_users')
#pending_backers
  - form_for @search, :url => pending_backers_projects_path do |f|
    %fieldset
      = f.label :id_equals, t('.id')
      = f.text_field :id_equals
      = f.label :key_equals, t('.key')
      = f.text_field :key_equals
      = f.label :project_name_contains, t('.project')
      = f.text_field :project_name_contains
      = f.label :user_name_contains, t('.user')
      = f.text_field :user_name_contains
    %fieldset
      = f.check_box :confirmed_is_true
      = f.label :confirmed_is_true, t('.confirmed')
      = f.check_box :credits_is_true
      = f.label :credits_is_true, t('.credits')
      = f.check_box :requested_refund_is_true
      = f.label :requested_refund_is_true, t('.requested_refund')
      = f.check_box :refunded_is_true
      = f.label :refunded_is_true, t('.refunded')
      = f.submit t('.submit')
  #total_results
    = pluralize_without_number @search.count, t('found_singular'), t('found_plural')
    %strong= @search.count
    = pluralize_without_number(@search.count, t('backer_singular'), t('backer_plural')).downcase
  = will_paginate @backers
  - if @backers.empty?
    = t('.no_backers')
  - else
    %table
      %thead
        %tr
          %th= t('.id')
          %th= t('.project')
          %th= t('.user')
          %th= t('.value')
          %th= t('.reward')
          %th= t('.key')
          %th= t('.confirmed')
          %th= t('.anonymous')
          %th= t('.credits')
          %th= t('.requested_refund')
          %th= t('.refunded')
      %tbody
        - @backers.each do |backer|
          %tr{ :id => backer.id, :class => cycle("even", "odd") }
            %td= backer.id
            %td{ :title => backer.project.name }
              = link_to project_path(backer.project) do
                = image_tag backer.project.display_image
            %td{ :title => backer.user.display_name }
              = link_to user_path(backer.user) do
                = image_tag backer.user.display_image
              .user_id= on_the_spot_edit backer, :user_id
            %td= backer.display_value
            %td{ :title => ("#{backer.reward.display_minimum} - #{backer.reward.description}" if backer.reward) }
              - if backer.reward
                = backer.reward.display_minimum
              - else
                \-
            %td.key= backer.key
            %td= check_box_tag "confirmed__#{backer.id}", '1', backer.confirmed
            %td= check_box_tag "anonymous__#{backer.id}", '1', backer.anonymous
            %td= (backer.credits ? t('yes') : t('no'))
            %td= (backer.requested_refund ? t('yes') : t('no'))
            %td= check_box_tag "refunded__#{backer.id}", '1', backer.refunded
  = will_paginate @backers
= javascript_include_tag 'pending_backers'

