= content_for :content_header do
  %h1 Apoiadores a confirmar
  %h2
    \# de apoiadores
    %strong= @total_backers
    \# de apoios
    %strong= @total_backs
    $ arrecadado
    %strong= @total_pledged
    \# Usuários
    %strong= @total_users
#pending_backers
  = will_paginate @backers
  - if @backers.empty?
    Não há nenhum apoiador a confirmar
  - else
    %ul
      - @backers.each do |backer|
        %li{ :id => backer.id }
          \##{backer.id}
          = link_to user_path(backer.user) do
            = image_tag backer.user.display_image, :class => 'user'
            = backer.user.display_name
          #{backer.display_value}
          %p
            - if backer.reward
              #{backer.reward.display_minimum} - #{truncate(backer.reward.description, :length => 40)}
            - else
              Este apoiador não selecionou nenhuma recompensa
          .clear
          = check_box_tag "confirmed_#{backer.id}", '1', backer.confirmed
          = label_tag "confirmed_#{backer.id}", 'Confirmado?'
  = will_paginate @backers
= javascript_include_tag 'pending_backers'

