= content_for :content_header do
  %h1 Projetos com aprovação pendente
#pending_projects
  = will_paginate @projects
  - if @projects.empty?
    Não há nenhum projeto com aprovação pendente
  - else
    %ul
      - @projects.each do |project|
        %li{ :id => project.id }
          = link_to project_path(project) do
            = image_tag project.display_image, :class => 'project'
            = project.name
          %p= project.headline
          .clear
          = check_box_tag "visible__#{project.id}", '1', project.visible
          = label_tag "visible__#{project.id}", 'Visível na lista?'
          = check_box_tag "rejected__#{project.id}", '1', project.rejected
          = label_tag "rejected__#{project.id}", 'Rejeitado?'
          = check_box_tag "recommended__#{project.id}", '1', project.recommended
          = label_tag "recommended__#{project.id}", 'Recomendado?'
          = check_box_tag "home_page__#{project.id}", '1', project.home_page
          = label_tag "home_page__#{project.id}", 'Home page?'
  = will_paginate @projects
= javascript_include_tag 'pending_projects'

