= content_for :content_header do
  %h1= t('.title')
  %h2= t('.subtitle')
#project_review
  = image_tag @project.display_image, :id => 'project_image'
  %h1= t('.you_are_about_html', :link => link_to(@project.name, project_path(@project)))
  .clear
  #review_text
    - if @backer.reward
      = t('.review_with_reward_html', :value => @backer.display_value, :reward => @backer.reward.description)
    - else
      = t('.review_without_reward_html', :value => @backer.display_value)
  - if @backer.credits
    #credits_notice= t('.credits_notice_html', :credits => number_to_currency((current_user.credits - @backer.value), :unit => 'R$', :precision => 0, :delimiter => '.'))
  = semantic_form_for current_user, :url => pay_project_path(@backer.project), :html => { :id => 'review_form' } do |form|
    = hidden_field_tag 'backer_id', @backer.id
    = hidden_field_tag 'backer_credits', @backer.credits
    - unless @backer.credits
      = form.inputs do
        = form.input :full_name, :required => true, :as => :string
        = form.input :email, :required => true, :as => :string
        = form.input :address_zip_code, :required => true, :as => :string
        = form.input :address_street, :required => true, :as => :string
        = form.input :address_number, :required => true, :as => :string
        = form.input :address_complement, :required => false, :as => :string
        = form.input :address_neighbourhood, :required => true, :as => :string
        = form.input :address_city, :required => true, :as => :string
        = form.input :address_state, :required => true, :as => :select, :collection => State.array
        = form.input :phone_number, :required => true, :as => :string, :input_html => {:autocomplete => 'off'}
    .submit
      %fieldset
        = check_box_tag 'accept'
        = label_tag 'accept', t('accept_terms_html', :link => link_to(t('terms'), terms_path, :target => :_blank)), :class => 'inline'
      = form.buttons do
        = form.commit_button t('.submit'), :button_html => {:disabled => true}
#international_payment
  %h1
    = t('.international.title')
    %a#international_link{ :href => '#' }
      = t('click_here')
  #international_expanded.hide
    %h1= t('.international.description')
    .important= t('.international.important_html')
    = form_tag(pay_paypal_path(@backer), :method => :get) do
      %fieldset
        = check_box_tag 'accept_international'
        = label_tag 'accept_international', t('accept_terms_html', :link => link_to(t('terms'), terms_path, :target => :_blank)), :class => 'inline'
      %fieldset
        = submit_tag t('.international.submit'), :disabled => true, :id => 'international_submit'
= javascript_include_tag 'jquery.maskedinput-1.2.2.min'
= javascript_include_tag 'review'
