= render 'project_header'
= render 'project_meta_tags'
= render 'project_warning'
#project_description
  #project_video
    %iframe{:src => "#{@project.video_embed_url}?title=0&amp;byline=0&amp;portrait=0&amp", :width => "610", :height => "346"}
    #project_share
      #facebook_share= render 'facebook'
      #twitter_share= render 'twitter'
      %ul
        %li.link
          = image_tag "link_share.png", :title => t('.share.link_title')
          = t('.share.link')
          = text_field_tag "project_link", @project.short_url
        %li.embed
          = link_to '#', :id => 'embed_link' do
            = image_tag "embed_share.png", :title => t('.share.embed_title')
            = t('.share.embed')
      .clear
    = render 'embed'
  #project_menu
    %ul
      %li
        = link_to '#about', :id => 'about_link' do
          = t('.menu.about')
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#updates', :id => 'updates_link' do
          = t('.menu.updates')
          %span.count (#{@updates.count})
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#backers', :id => 'backers_link' do
          = t('.menu.backers')
          %span.count (#{@project.total_backers})
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#comments', :id => 'comments_link' do
          = t('.menu.comments')
          %span.count (#{@comments.count})
          = image_tag "project_menu_selected.png"
  #project_content
  #loading= image_tag "loading.gif"
= render :partial => 'back_info'
= render :partial => 'about'
= render :partial => 'project_backers'
= render :partial => 'backer'
= render :partial => 'project_comments'
= render :partial => 'comment'
= render :partial => 'project_updates'
= render :partial => 'update'
= render :partial => 'error'
= javascript_include_tag 'models/project'
= javascript_include_tag 'models/user'
= javascript_include_tag 'models/paginated_collection'
= javascript_include_tag 'models/project_collection'
= javascript_include_tag 'models/backer'
= javascript_include_tag 'models/comment'
= javascript_include_tag 'models/update'
= javascript_include_tag 'controllers/project'
= javascript_include_tag 'views/project/content'
= javascript_include_tag 'views/project/model'
= javascript_include_tag 'views/project/paginated_content'
= javascript_include_tag 'views/project/about'
= javascript_include_tag 'views/project/backer'
= javascript_include_tag 'views/project/project_backers'
= javascript_include_tag 'views/project/comment'
= javascript_include_tag 'views/project/project_comments'
= javascript_include_tag 'views/project/update'
= javascript_include_tag 'views/project/project_updates'
= javascript_include_tag 'show_project'
:javascript
  var project = new Project(#{@project.to_json})
  var currentUser = new User(#{current_user.to_json})
  var projectController = new ProjectController({project: project})
  Backbone.history.start()
