= content_for :content_header do
  #project_header
    %h1
      = @project.name
    %h2 Um projeto de #{link_to @project.user.display_name, user_path(@project.user)}
#project_description
  #project_video
    %iframe{:src => @project.video_embed_url, :width => "460", :height => "345"}
    #project_share
      %h1 Faça parte disto e compartilhe este projeto
      %ul
        %li
          = link_to '#' do
            = image_tag 'auth/twitter_32.png', :title => 'Twitter'
            Twitter
        %li
          = link_to '#' do
            = image_tag 'auth/facebook_32.png', :title => 'Facebook'
            Facebook
        %li
          = image_tag 'link_32.png', :title => "Compartilhe o link"
          Link
          = text_field_tag "project_link", "http://catr.se/bPR1SQ"
      .embed
        = link_to '#' do
          = image_tag 'embed_32.png', :title => "Incorpore este projeto no seu site"
          Incorpore este projeto no seu site
  #project_about
    %h1 Sobre este projeto
    = @project.display_about.html_safe
#project_back_info
  #back_project
    .info
      .number= @project.backers.count
      Pessoas já apoiaram
      .number= number_to_currency @project.pledged, :unit => 'R$ ', :precision => 0, :delimiter => '.'
      Atingidos de
      %strong= number_to_currency @project.goal, :unit => 'R$ ', :precision => 0, :delimiter => '.'
      .number= @project.days_to_go
      Dias restantes
      .project_progress
        .progress_bar
          .progress{ :style => "width: #{ @project.percent }%" }
            &nbsp;
    - if @project.successful?
      .project_warning.successful
        .text Este projeto será financiado em #{@project.deadline.strftime('%d/%m')}
    - else
      .project_warning.not_successful
        .text Este projeto só será financiado se pelo menos #{number_to_currency @project.goal, :unit => 'R$ ', :precision => 0, :delimiter => '.'} forem atingidos até #{@project.deadline.strftime('%d/%m')}
    .info
      = form_tag(back_project_path(@project), :method => :get, :id => 'back_project_form') do
        %fieldset
          = submit_tag 'Quero apoiar este projeto'
  #rewards
    %h1 Recompensas para quem apoiar
    %ul
      - @project.rewards.each do |reward|
        %li
          %h1 Apoie com #{number_to_currency reward.minimum_value, :unit => 'R$ ', :precision => 0, :delimiter => '.'}+
          = reward.description
          .clear
          - if reward.maximum_backers
            .maximum_backers
              - if reward.sold_out?
                .sold_out Esgotada
              - else
                .limited Recompensa limitada
              .remaining
                = reward.remaining
                de
                = reward.maximum_backers
                disponíveis
            .clear
.clear
= javascript_include_tag 'show_project'