= content_for :content_header do
  #project_header
    %h1
      - if current_user and current_user.admin
        = on_the_spot_edit @project, :name
      - else
        = @project.name
    %h2 Um projeto de #{link_to @project.user.display_name, user_path(@project.user)}
= content_for :meta_tags do
  %meta{:name => "description", :content => @project.headline}
  -# Meta tags for facebook social graph
  %meta{:property => "og:title", :content => @project.name}
  %meta{:property => "og:type", :content => 'cause'}
  %meta{:property => "og:url", :content => project_url(@project)}
  %meta{:property => "og:image", :content => @project.display_image}
  %meta{:property => "og:site_name", :content => 'Catarse'}
  %meta{:property => "og:description", :content => @project.headline}
- unless @project.visible
  #project_warning
    - if @project.rejected
      Este projeto não foi selecionado para participar do Catarse. Quem sabe numa próxima vez? :)
    - else
      Este projeto está aguardando análise e logo saberemos se ele entrará no Catarse ;)
#project_description
  #project_video
    %iframe{:src => "#{@project.video_embed_url}?title=0&amp;byline=0&amp;portrait=0&amp", :width => "610", :height => "346"}
    #project_share
      %h1 Faça parte disto e compartilhe este projeto
      %ul
        %li.social
          = link_to "http://www.facebook.com/share.php?u=#{project_url(@project)}&t=Confira o projeto \"#{@project.name}\" no Catarse&v=4", :target => :_blank do
            = image_tag "sites/#{current_site}/facebook_share.png", :title => 'Facebook'
            Facebook
        %li.social
          = link_to "http://twitter.com/?status=Confira o projeto \"#{@project.name}\" no @Catarse_ #{@project.short_url}", :target => :_blank do
            = image_tag "sites/#{current_site}/twitter_share.png", :title => 'Twitter'
            Twitter
        %li.link
          = image_tag "sites/#{current_site}/link_share.png", :title => "Compartilhe o link"
          Link
          = text_field_tag "project_link", @project.short_url
        %li.embed
          = link_to '#', :id => 'embed_link' do
            = image_tag "sites/#{current_site}/embed_share.png", :title => "Incorpore este projeto no seu site"
            Incorporar
    = render 'embed'
  #project_menu
    %ul
      %li
        = link_to '#about', :id => 'about_link' do
          Sobre
          = image_tag "sites/#{current_site}/project_menu_selected.png"
      %li
        = link_to '#updates', :id => 'updates_link' do
          Atualizações
          %span.count (#{@updates.count})
          = image_tag "sites/#{current_site}/project_menu_selected.png"
      %li
        = link_to '#backers', :id => 'backers_link' do
          Apoiadores
          %span.count (#{@project.total_backers})
          = image_tag "sites/#{current_site}/project_menu_selected.png"
      %li
        = link_to '#comments', :id => 'comments_link' do
          Comentários
          %span.count (#{@comments.count})
          = image_tag "sites/#{current_site}/project_menu_selected.png"
  #project_content
  #loading= image_tag "sites/#{current_site}/loading.gif"
= render :partial => 'back_info'
= render :partial => 'about'
= render :partial => 'project_backers'
= render :partial => 'backer'
= render :partial => 'project_comments'
= render :partial => 'comment'
= render :partial => 'project_updates'
= render :partial => 'update'
= javascript_include_tag 'models/project'
= javascript_include_tag 'models/user'
= javascript_include_tag 'models/paginated_collection'
= javascript_include_tag 'models/project_collection'
= javascript_include_tag 'models/backer'
= javascript_include_tag 'models/comment'
= javascript_include_tag 'models/update'
= javascript_include_tag 'controllers/project'
= javascript_include_tag 'views/project/content'
= javascript_include_tag 'views/project/model'
= javascript_include_tag 'views/project/paginated_content'
= javascript_include_tag 'views/project/about'
= javascript_include_tag 'views/project/backer'
= javascript_include_tag 'views/project/project_backers'
= javascript_include_tag 'views/project/comment'
= javascript_include_tag 'views/project/project_comments'
= javascript_include_tag 'views/project/update'
= javascript_include_tag 'views/project/project_updates'
= javascript_include_tag 'show_project'
:javascript
  var project = new Project(#{@project.to_json})
  var currentUser = new User(#{current_user.to_json})
  var projectController = new ProjectController({project: project})
  Backbone.history.start()
