
- content_for :js_templates do
  = render :partial => 'backer'
= render 'project_header'
= render 'project_meta_tags'
= render 'project_warning'
= render 'facebook_sdk'
#project_description{ "data-project"=> @project.to_json }
  #project_video
    %iframe{:src => "#{@project.vimeo.embed_url}?title=0&amp;byline=0&amp;portrait=0&amp", :width => "610", :height => "346"}
    #project_share
      #facebook_share= render 'facebook'
      #twitter_share= render 'twitter'
      %ul
        %li.link
          = image_tag "link_share.png", :title => t('.share.link_title')
          = t('.share.link')
          = text_field_tag "project_link", @project.short_url
        %li.embed
          = link_to '#', :id => 'embed_link' do
            = image_tag "embed_share.png", :title => t('.share.embed_title')
            = t('.share.embed')
      .clear
    = render 'show_embed'
  #project_menu
    %ul
      %li
        = link_to '#about', :id => 'about_link' do
          = t('.menu.about')
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#updates', :id => 'updates_link' do
          = t('.menu.updates')
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#backers', :id => 'backers_link' do
          = t('.menu.backers')
          %span.count (#{@project.total_backers})
          = image_tag "project_menu_selected.png"
      %li
        = link_to '#comments', :id => 'comments_link' do
          = t('.menu.comments')
          = image_tag "project_menu_selected.png"
  #project_content
    #project_about.content
      - if current_user and current_user.admin
        #{on_the_spot_edit @project, :about, :type => :textarea}
      - else
        = @project.about_html.html_safe
      = render "admin_fields" if current_user and current_user.admin
    #project_updates.content= render :partial => 'updates'
    #project_backers.content
    #project_comments.content= render :partial => 'comments'
  #loading= image_tag "loading.gif"
= render :partial => 'back_info'
