= content_for :content_header do
  #project_header
    %h1
      = @project.name
    %h2 Um projeto de #{link_to @project.user.display_name, user_path(@project.user)}
#project_description
  #project_video
    %iframe{:src => @project.video_embed_url, :width => "460", :height => "345"}
    #project_share
      %h1 Faça parte disto e compartilhe este projeto
      %ul
        %li
          = link_to '#' do
            = image_tag 'auth/twitter_32.png', :title => 'Twitter'
            Twitter
        %li
          = link_to '#' do
            = image_tag 'auth/facebook_32.png', :title => 'Facebook'
            Facebook
        %li
          = image_tag 'link_32.png', :title => "Compartilhe o link"
          Link
          = text_field_tag "project_link", "http://catr.se/bPR1SQ"
      .embed
        = link_to '#' do
          = image_tag 'embed_32.png', :title => "Incorpore este projeto no seu site"
          Incorpore este projeto no seu site
  #project_about
    %h1 Sobre este projeto
    = @project.display_about.html_safe
= render :partial => 'back_info', :locals => {:show_backers => true}
