= content_for :content_header do
  #project_header
    %h1
      - if current_user and current_user.admin
        = on_the_spot_edit @project, :name
      - else
        = @project.name
    %h2 Um projeto de #{link_to @project.user.display_name, user_path(@project.user)}
= content_for :meta_tags do
  %meta{:name => "description", :content => @project.headline}
  -# Meta tags for facebook social graph
  %meta{:property => "og:title", :content => @project.name}
  %meta{:property => "og:type", :content => 'cause'}
  %meta{:property => "og:url", :content => project_url(@project)}
  %meta{:property => "og:image", :content => @project.display_image}
  %meta{:property => "og:site_name", :content => 'Catarse'}
  %meta{:property => "og:description", :content => @project.headline}
- unless @project.visible
  #project_warning
    - if @project.rejected
      Este projeto não foi selecionado para participar do Catarse. Quem sabe numa próxima vez? :)
    - else
      Este projeto está aguardando análise e logo saberemos se ele entrará no Catarse ;)
#project_description
  #project_video
    %iframe{:src => @project.video_embed_url, :width => "460", :height => "300"}
    #project_share
      %h1 Faça parte disto e compartilhe este projeto
      %ul
        %li
          = link_to "http://twitter.com/?status=Confira o projeto \"#{@project.name}\" no @Catarse_ #{@project.short_url}", :target => :_blank do
            = image_tag 'auth/twitter_32.png', :title => 'Twitter'
            Twitter
        %li
          = link_to "http://www.facebook.com/share.php?u=#{project_url(@project)}&t=Confira o projeto \"#{@project.name}\" no Catarse&v=4", :target => :_blank do
            = image_tag 'auth/facebook_32.png', :title => 'Facebook'
            Facebook
        %li
          = image_tag 'link_32.png', :title => "Compartilhe o link"
          Link
          = text_field_tag "project_link", @project.short_url
      .embed
        = link_to '#', :id => 'embed_link' do
          = image_tag 'embed_32.png', :title => "Incorpore este projeto no seu site"
          Incorpore este projeto no seu site
    = render 'embed'
  #project_about
    %h1 Sobre este projeto
    - if current_user and current_user.admin
      #{on_the_spot_edit @project, :about, :type => :textarea}
    - else
      = @project.about_html.html_safe
  - if current_user and current_user.admin
    #project_admin
      %h2 Campos para o admin
      .project_admin_field
        %strong Prazo:
        #{on_the_spot_edit @project, :expires_at}
      .project_admin_field
        %strong Id do usuário:
        #{on_the_spot_edit @project, :user_id}
      .project_admin_field
        %strong URL da imagem:
        #{on_the_spot_edit @project, :image_url}
= render :partial => 'back_info', :locals => {:show_backers => true}

