= content_for :content_header do
  #project_header
    %h1= @project.name
    %h2 Um projeto de #{link_to @project.user.display_name, user_path(@project.user)}
#project_description
  #project_video
    %iframe{:src => @project.video_embed_url, :width => "460", :height => "345"}
    #project_share
      %h1 Faça parte disto e compartilhe este projeto
      %ul
        %li
          = render :partial => 'twitter', :locals => {:url => 'http://catr.se/bPR1SQ', :text => "Confiram o projeto #{truncate(@project.name, :length => (140 - 19 - 19 -14))}"}
        %li
          = render :partial => 'facebook', :locals => {:url => 'http://catarse.me'}
        %li
          = image_tag 'link_32.png', :title => "Compartilhe o link"
          Link
          = text_field_tag "project_link", "http://catr.se/bPR1SQ"
      .embed
        = link_to '#', :id => 'embed_link' do
          = image_tag 'embed_32.png', :title => "Incorpore este projeto no seu site"
          Incorpore este projeto no seu site
    = render 'embed'
  #project_about
    %h1 Sobre este projeto
    = @project.display_about.html_safe
= render :partial => 'back_info', :locals => {:show_backers => true}
