= content_for :content_header do
  %h1= t('.title')
  %h2= t('.subtitle')
#project_warning
  = t('.project_warning.content_html', :link => link_to(t('.project_warning.help_link'), "#{t('site.blog')}/post/2816685141/guia-colocar-projeto-catarse", :target => :_blank))
= form_tag(send_mail_projects_path, :id => 'start_project_form') do
  %fieldset
    = label_tag 'about', t('.about')
    = text_area_tag 'about'
    %p.inline-hints= t('.about_hint')
    = label_tag 'rewards', t('.rewards')
    = text_area_tag 'rewards'
    %p.inline-hints= t('.rewards_hint')
    = label_tag 'links', t('.links')
    = text_area_tag 'links'
    %p.inline-hints= t('.links_hint')
    = label_tag 'contact', t('.contact')
    = text_field_tag 'contact', (current_user.email if current_user)
  .submit
    %fieldset
      = check_box_tag 'accept'
      = label_tag 'accept', t('accept_terms_html', :link => link_to(t('terms'), terms_path, :target => :_blank)), :class => 'inline'
    %fieldset
      = submit_tag t('.submit'), :disabled => true
      = image_tag "loading.gif", :id => 'loading'
= javascript_include_tag 'start_project'
