= content_for :content_header do
  %h1= t('.title')
  %h2= t('.subtitle')
#credits
  %h1= t('.current_credits_html', :credits => current_user.display_credits)
  -#buy_credits
    = t('.buy_credits_html')
    = form_tag(buy_credits_path, :method => :get) do
      %fieldset
        = submit_tag t('.buy_credits')
  - if @refund_backs.empty?
    %h2= t('.no_refunds')
  - else
    %h2= t('.refunds_title')
    %table
      %thead
        %tr
          %th= t('.project')
          %th= t('.created_at')
          %th= t('.value')
          %th= t('.refund_deadline')
          %th= t('.status')
      %tbody
        - @refund_backs.each do |back|
          %tr{ :id => back.id, :class => cycle("even", "odd") }
            %td= link_to back.project.name, project_path(back.project)
            %td= l back.created_at.to_date
            %td= back.display_value
            %td= l back.refund_deadline.to_date
            %td.status
              .text
                - if back.refunded
                  = t('.refunded')
                - elsif back.requested_refund
                  = t('.requested_refund')
                - else
                  = link_to t('.request_refund'), '#'
              .error.hide
              = image_tag "loading.gif", :class => 'loading hide'
    .important= t('.important_html')
:javascript
  var confirm_text = '#{t('.confirm')}'
= javascript_include_tag 'credits'
