= content_for :content_header do
  %h1 Perguntas frequentes
  %h2 Esclareça suas dúvidas e aprenda mais sobre financiamento colaborativo e sobre o Catarse.
.text
  %h2 Informações fundamentais
  %h3 O que é o Catarse?
  %p O Catarse é uma maneira diferente – e colaborativa! – de financiar projetos criativos. 
  %p E antes de mais nada, seria legal você saber por que a gente acredita que essa nova maneira é sensacional:
  %ol
    %li Muitos projetos fantásticos não conseguem ir pra frente com as atuais possibilidades de financiamento – e, vamos combinar, elas não são nada divertidas também.
    %li Um grupo de pessoas empolgadas com seu projeto pode muito bem ser a fonte ideal de dinheiro pra ele finalmente sair do papel. 
    %li Se as ideias forem boas e bem comunicadas, elas podem se espalhar rapidamente, pra um monte de gente e, com isso, mais pessoas contribuirão para o sucesso do seu projeto.
  %h3 Mas como exatamente funciona o Catarse?
  %p Todos os projetos tem que ter um objetivo de arrecadação (a partir de R$1,00) e um prazo (entre 1 e 90 dias). Nesse meio tempo, o dono do projeto tem que engajar sua comunidade pra conseguir reunir a grana que foi pedida. Quando acabar o prazo final, teremos duas opções, o que a gente chama de tudo-ou-nada:
  %p
    %em Projeto bem-sucedido:
    se o objetivo for atingido ou superado, o dono do projeto fica com o todo o dinheiro levantado, ou seja, tudo.
  %p
    %em Projeto malsucedido:
    se o objetivo
    %strong não
    for atingido, a gente devolve as contribuições para todos os apoiadores e o dono do projeto não leva nada.
  %h3 Ok! E por que tudo-ou-nada?
  %p Temos alguns bons motivos:
  %ol
    %li
      %em É menos arriscado.
      Tanto para o dono do projeto – se ele pediu uma quantia mínima, é porque sem aquela grana vai ser difícil o projeto acontecer – quanto para quem apoiou – se o projeto não acontecer, a pessoa não terá recompensa, mas terá seu dinheiro de volta ou terá crédito para apoiar outros projetos.
    %li
      %em É uma ótima oportunidade para testar conceitos.
      Se você não conseguir o apoio necessário, pode ser que o projeto ainda não esteja bom – afinal, quem manda é o público. 
    %li
      %em Dá uma motivação extra.
      Todo mundo que gostou e se empolgou com o projeto passa a se esforçar pra divulgá-lo, principalmente na reta final.
  %h3 E por que as pessoas contribuiriam para esses projetos?
  %p
    %em Fazer parte de algo maior.
    O projeto só vai pra frente se as pessoas contribuírem. Esse sentimento de que o seu apoio, por menor que seja o valor, é fundamental para o projeto ser bem-sucedido é bom demais!
  %p
    %em Você não precisa contribuir com um caminhão de dinheiro.
    A maioria dos projetos oferecem recompensas a partir de R$10,00.
  %p
    %em Recompensas.
    Nada melhor do que serviços, experiências e produtos únicos, criativos, divertidos, pra incentivar as pessoas a apoiarem seu projeto. As recompensas são oferecidas pelos donos dos projetos, de acordo com faixas de incentivos diferentes. Se você contribuir com R$10,00, ganha uma determinada recompensa. Se contribuir com R$ 50,00, ganha outra.
  %h3 Então não se trata de investimento?
  %p De jeito nenhum! Os criadores dos projetos ficam com 100% da participação e dos direitos autorais de suas ideias.
  %h3 Mas, afinal, quem pode ter seu projeto no Catarse?
  %p Aqui a gente está de braços abertos a projetos artísticos – Artes Plásticas, Cinema, Circo, Dança, Filmes, Música, Fotografia, Literatura, Teatro (se a gente esqueceu algo, pode dar um puxão de orelha #{mail_to t('site.email.contact'), 'aqui'}) – e também a projetos criativos e empreendedores que surjam em campos como Arquitetura e Urbanismo, Culinária, Design, Moda, Tecnologia, Jogos, Quadrinhos, Jornalismo, etc.
  %p Se você acha o seu projeto criativo, mas ele não se enquadra em nenhuma das áreas acima, não seja tímido, mande pra gente e conversaremos melhor sobre ele. A gente é apaixonado por novas ideias e adoraríamos conhecer a sua.
  %h2 Como a máquina vai rodar?
  %h3 Como eu faço para apoiar um projeto?
  %p Quando você estiver na página de um projeto, clique no botão verde grandão “Quero apoiar este projeto” (fica do lado direito da tela). Depois disso, você vai ter um campo pra digitar o valor que irá apoiar e poderá selecionar sua recompensa. Na próxima tela, você tem duas opções: prosseguir o pagamento pelo MoIP ou pelo Paypal. 
  %p Se você for não mora no Brasil, seu pagamento terá que ser feito pelo Paypal, pois o MoIP não aceita pagamentos internacionais. Pra isso, é só você clicar em “Quer fazer pagamento internacional? Clique aqui.” Detalhe: se você for usar o Paypal, não precisa preencher aqueles campos de endereço e telefone, ok?
  %p Se você for usar o MoIP, terá que preencher alguns dados básicos que são necessários para realizar os pagamentos. Depois, você será redirecionado ao ambiente do MoIP para escolher a sua forma de pagamento preferida e concretiza-lo. 
  %h3 Como funciona toda essa questão do dinheiro?
  %p Assim que você apoiar o projeto (e o MoIP ou o Paypal confirmar a transação), o dinheiro irá para uma conta do Catarse no MoIP ou Paypal. Depois, existem duas possibilidades:
  %ul
    %li Se o projeto for bem-sucedido, nós redirecionaremos o valor para o dono do projeto. Ali embaixo, na pergunta “Como os criadores dos projetos receberão o dinheiro, caso o projeto seja bem sucedido?” a gente detalha isso.
    %li
      Se o projeto não for bem-sucedido, seu
      %strong dinheiro
      voltará em créditos na sua conta do Catarse (um dia após a compensação dos últimos boletos, após o prazo final de arrecadação do projeto apoiado), e você pode apoiar outro projeto. Se você não quiser apoiar outro projeto e preferir ter seu dinheiro de volta, sem problemas: vá em Meus Créditos (é só clicar no seu nome de usuário, ali em cima no canto direito da tela, que aparecerá a opção) e clique em Solicitar Estorno. Se o pagamento for feito pelo Paypal, você terá 100% do seu dinheiro de volta caso o estorno seja pedido em até 60 dias após o seu pagamento ter sido concluído, se não, as taxas de transação do Paypal (5,4% + R$0,39) serão descontadas do valor a ser estornado. Se o pagemento foi feito pelo MoIP, você tem até 180 dias após seu apoio para fazer essa requisição, ok? 
  %p
    Um detalhe importante: se você pagou com
    %em cartão de crédito,
    o estorno será feito na sua próxima fatura. Se você pagou com
    %em débito em conta ou boleto,
    a única maneira de fazer o estorno é você abrir uma conta no MoIP (pode parecer algo complicado, mas não é difícil não, a gente te ajuda passo-a-passo a fazer isso). Aí a gente transfere o valor da nossa conta para a sua e, de lá, você transfere para sua conta no banco.
  %h3 E o que ão o MoIP e o Paypal?
  %p O Paypal é a maior referência em meios de pagamentos eletrônicos no mundo. E por trabalhar no mundo todo, ele possibilita que pagamentos sejam feitos de qualquer país.
  %p O MoIP é uma das empresas mais inovadoras no mercado brasileiro de meios de pagamento. 
  %p Eles possibilitam que as transações feitas no Catarse sejam seguras e garantem que a gente consiga operacionalizar os estornos, caso os projetos não sejam bem-sucedidos.
  %h3 Eu preciso ter uma conta no MoIP ou no Paypal para apoiar um projeto?
  %p Não. Você pode usar seu cartão de crédito preferido, fazer uma transferência eletrônica se o seu banco for parceiros do MoIP (Banco do Brasil, Bradesco, Itaú, Banrisul, Banco Real), emitir um boleto, utilizar créditos na sua carteira MoIP ou direto na sua conta do Paypal. 
  %h3 Quais informações o criador do projeto vai receber se eu apoiar seu projeto?
  %p Ele saberá o seu nome de usuário no Catarse (a não ser que o apoio tenha sido feito de forma anônima), seu email, o valor que você apoiou e qual recompensa selecionou.
  %h3 O valor com que eu contribuí será mostrado publicamente?
  %p Não, não. Apenas o criador do projeto receberá essa informação.
  %h3 E se eu quiser que meu apoio seja anônimo?
  %p
    Sem problemas, basta marcar a opção de 
    %em Quero que meu apoio seja anônimo
    na hora de apoiar. No entanto, deixar seu apoio público aumenta sua reputação e conta pontos para o nosso ranking de apoiadores.
  %p Além disso, o valor do seu apoio não será divulgado para ninguém além do dono do projeto (que sempre saberá quem você é), mesmo que seu apoio seja público.
  %h3 Eu vou receber alguma mensagem quando acabar o prazo dos projetos que eu apoiei?
  %p Sim. Tanto se o projeto for bem-sucedido, como se não for, você receberá um email.
  %h3 O criador do projeto tem que definir um prazo para executar seu projeto e entregar as recompensas?
  %p Não. O que a gente faz é incentivar os criadores a deixar essas informações bem transparentes, mas cabe a ele decidir sobre esse assunto.
  %h2 Enviando seu projeto
  %h3 O que eu preciso fazer pra enviar meu projeto?
  %p Primeiro você tem que entrar no “Envie seu projeto” (fica no canto direito, na parte superior do site). Lá a gente explica direitinho como funciona o Catarse, e te dá algumas dicas pra você montar seu projeto. Depois, é só preencher os campos e enviar o projeto.
  %h3 Todo projeto enviado vai para o site?
  %p Não. A gente tem um time responsável por avaliar os projetos. Não iremos julgar a qualidade artística dele ou palpitar no seu modelo de negócios. Na verdade, o que queremos é conhecer um pouco melhor o histórico do criador do projeto, como ele pretende comunicar e engajar sua comunidade para conseguir levantar o dinheiro, saber quais recompensas que ele pretende oferecer e ver se o projeto se encaixa nas #{link_to 'nossas diretrizes', guidelines_path} (basicamente, não aceitamos projetos de caridade ou para causas sociais; não financiamos negócios de tempo indeterminado, apenas projetos).
  %p Temos alguns motivos para fazermos isso:
  %ul
    %li Diminuir os riscos de um projeto não ser executado caso seja financiado;
    %li Saber se o criador do projeto tem planos para engajar a sua comunidade para arrecadar os fundos – e entende que essa é uma das etapas mais fundamentais da sua campanha;
    %li Verificar se as recompensas geram valor para os apoiadores.
  %p Ah, e não há limites de projetos que irão para o ar. Não é uma competição. Para nós, quanto mais projetos, melhor.
  %h3 Que tipo de respostas eu posso esperar depois que eu enviei meu projeto?
  %p São três possibilidades: a gente autoriza o projeto e ele vai para o ar; nós enviaremos novas perguntas para entender um pouco mais sobre o projeto; ou não aceitaremos o projeto caso ele destoe do #{link_to 'nosso foco', guidelines_path}.
  %h3 Por quanto tempo eu terei que esperar pela resposta do Catarse?
  %p A gente vai tentar responder o mais rápido possível, mas em não mais do que 4 dias úteis.
  %h2 Coisa de dinheiro
  %h3 Como os criadores dos projetos receberão o dinheiro, caso o projeto seja bem sucedido?
  %p Primeiramente, eles terão que ter uma conta no MoIP e, se tiverem pagamentos pelo Paypal, também uma por lá. A gente recomenda que, no MoIP, seja aberta uma Conta de Negócios. O pagamento será feito em duas etapas. O motivo para isso é que os apoios feitos a partir de cartão de crédito só entram na conta do Catarse 30 dias após a efetuação do pagamento, ou seja, logo que encerrar o prazo do projeto, ainda não temos na conta o valor referente aos últimos 30 dias de apoio pagos com cartão de crédito.
  %p A primeira etapa – que corresponde todos os pagamentos por boleto, transferência bancária, e aqueles feitos com cartão de crédito há mais de 30 dias, serão efetuados em até 2 dias úteis após o prazo final do projeto.
  %p A segunda etapa será disponibilizada 30 dias após o prazo final do projeto.
  %p Em ambos os casos, já serão descontados os valores referentes às taxas do Catarse e do meio de pagamento. E a gente vai mandar um relatório detalhando pontuando tudo isso para os criadores. 
  %h3 Qual é a taxa que o Catarse cobra?
  %p 7,5%. Note-se que esse valor só será cobrado dos projetos bem-sucedidos.
  %h3 Qual é a taxa cobrada pelos meios de pagamento?
  %p A taxa que o dono do projeto terá que arcar varia com a forma de pagamento que for escolhida pelo apoiador. Transferência eletrônica e Boleto possuem taxas menores, enquanto pagamentos com cartão de crédito possuem taxas maiores. Baseado no casos que tivemos até agora, essa taxa variará entre 3,5 % e 5,5%. Vale lembrar que essa taxa é só para os donos de projetos. Para quem for apoiar um projeto, só haverá cobrança caso o pagamento seja feito com boleto bancário, que custará R$1,00 para o apoiador (e esse R$1,00 não é estornado caso o projeto não seja bem-sucedido).
  %h3 Custa alguma coisa pra colocar um projeto no Catarse?
  %p Não. Nadinha.
  %h3 E qual o máximo que um projeto pode captar?
  %p Não há limite máximo.
  %h3 Tem valor mínimo e máximo para as recompensas?
  %p Tem valor mínimo: R$10, mas não tem valor máximo. 
  %h3 E a propriedade intelectual?
  %p É e sempre será 100% do dono do projeto.
  %h2 Caminhando com o projeto...
  %h3 O projeto pode ser editado após lançado?
  %p Sim, sim. As únicas coisas que não podem ser alteradas são: o objetivo de financiamento, a data final (prazo) e as recompensas que já foram selecionadas alguma vez. Por enquanto, pra fazer essas alterações você tem que mandar um email pra gente no contato@catarse.me, ok? Mais pra frente, você poderá fazer isso direto no site. =)
  %h3 Se meu projeto arrecadou o dinheiro antes do prazo final, eu posso pedir para que ele seja finalizado?
  %p Não, você tem que esperar até o prazo final. Aliás, essa é uma ótima oportunidade de você engajar sua comunidade para conseguir um apoio extra.
  %h3 Posso editar alguma informação do meu projeto após o prazo final do projeto?
  %p Não, mas você pode utilizar a aba de Atualizações para continuar se relacionando com os apoiadores ou outras pessoas que se interessaram pelo seu projeto.
  %h3 Um projeto pode ser apagado do Catarse?
  %p Se ele já tiver sido lançado ao público, não. Mesmo se ele não for financiado, ele continuará no site, por uma questão de transparência.
  %h3 Posso cancelar meu projeto?
  %p Pode. Para isso você terá que enviar um email para #{mail_to t('site.email.contact')}. Precisaremos também de uma explicação (que faça sentido) sobre os motivos que te levaram a essa decisão para enviarmos a todos que já contribuíram com seu projeto. Nesse caso, seu projeto aparecerá com uma faixa de proejto “não financiado”, ok?
  %h2 Recompensas pra que te quero
  %h3 Quem cria as recompensas?
  %p São todas de responsabilidade do criador do projeto, tanto o que será a recompensa quanto o seu valor.
  %h3 O que pode ser oferecido como recompensa?
  %p
    Praticamente tudo,
    %strong menos dinheiro:
    produtos, serviços e experiências podem entrar no pacote. O ideal é que elas sejam criativas. Recompensas criativas fazem com que os donos de projetos sejam percebidos como pessoas criativas.
  %h3 Como posso obter as informações (email, tamanho de camiseta, endereço) dos apoiadores do meu projeto para distribuir as recompensas?
  %p Na página de apoiadores do projeto, você verá os emails de todos os seus apoiadores. Você deverá entrar em contato com eles para obter outros tipos de informações.
  %h3 Quem é o responsável pela entrega das recompensas?
  %p O dono do projeto – e só ele. O Catarse é apenas um facilitador do processo, como, por exemplo, o #{link_to 'Mercado Livre', 'http://www.mercadolivre.com.br/', :target => :_blank}.
  %h2 Algumas coisas mais
  %h3 O Catarse tem um blog?
  %p Tem sim. É esse aqui: #{link_to t('site.blog'), t('site.blog'), :target => :_blank}.
  %h3 O Catarse está no Twitter?
  %p Sim, nosso perfil é o #{link_to "@#{t('site.twitter')}", "http://twitter.com/#{t('site.twitter')}", :target => :_blank}.
  %h3 E tem uma página no Facebook?
  %p Tem também. Veja #{link_to 'aqui', t('site.facebook'), :target => :_blank}.
  %h3 Tem algum lugar que eu posso requisitar novas funcionalidades?
  %p Lógico. É só clicar no botão de "Sugestões" logo ali à sua esquerda, ou mandar um email para #{mail_to t('site.email.contact')}.
  %h3 Tenho uma pergunta que não foi respondida por aqui, tem algum jeito de eu entrar em contato com vocês?
  %p Claro. Pode entrar em contato com nosso time de atendimento #{mail_to t('site.email.contact'), 'aqui'}.
