<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= I18n.t('passwords.email.title')%></title>
</head>
<body style="margin: 0;padding:0;">
  <table width="100%" id="background" border="0" cellspacing="0" cellpadding="0" frame="void" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse; background-color:#ccc;height:100%;">
      <tbody style="margin:0; padding:0; border:0;">
        <tr>
          <td align="center" style="margin:0; padding:0; border:0 none;" valign="top">
            <br/>
            <br/>
            <table width="600" border="0" cellspacing="0" cellpadding="0" frame="void" id="content" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse;">
              <tbody style="margin:0; padding:0; border:0;">
                <tr>
                  <td align="left" style="margin:0; padding:0; border:0 none; " valign="top">
                    <table border="0" cellspacing="0" cellpadding="0" frame="void" id="header" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td align="left" style="margin:0; border:0 none;" valign="top">
                            <img class="edit" width="600" src="<%= t('site.base_url') %>/images/email_header.<%= I18n.locale %>.png" style="border:0 none; display:block;" alt="<%= t('.alt') %>">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" frame="void" id="columns" style="margin:0; padding:0; border:0 none; border-spacing:0; border-collapse:collapse;" width="100%">
                      <tbody style="margin:0; padding:0; border:0;">
                        <tr>
                          <td width="600" id="main" align="left" valign="top" style="margin:0; padding:20px; border:0 none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height:150%; background-color:#fff">
                            <table width="100%" frame="void" cellspacing="0" cellpadding="0" border="0" style="margin:0; padding:0; border:0 none; border-spacing:0px 0px; border-collapse:collapse; font-size:15px; color:#333;">
                              <tbody style="margin:0; padding:0; border:0;">
                                <tr>
                                  <td align="left" valign="top" style="margin:0; border:0 none;">
                                    <div class="repeat" id="paragraph" style="margin:0; padding:0px; border:0 none; font-size:14px; color:#666; text-align:left;">
                                      <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-color: initial; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; line-height: 17px; ">
                                        <% if @resource.name %>
                                          <%= t('.hello') %>, <%= @resource.name %>!
                                        <% else %>
                                          <%= t('.hello') %>!
                                        <% end %>
                                        <br>
                                        <br>
                                        <%= I18n.t('passwords.email.content_html', :link => link_to(I18n.t('passwords.edit.submit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token))).html_safe %>
                                        <br>
                                        <br>
                                        <%= t('.salutation') %>
                                        <br/>
                                        <br/>
                                        <%= t('.signature') %>
                                      </p>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            <br/>
          </td>
        </tr>
      </tbody>
    </table>
</body>
