#login_overlay.overlay.hide
  #login.hide
    %a.close{ :href => '#' } X
    %h1= t('.title')
    = form_tag(auth_path) do
      = hidden_field_tag 'provider'
      = hidden_field_tag 'return_to'
      = link_to image_tag('auth/google_128.png', :title => 'Google'), 'google', :class => 'provider'
      = link_to image_tag('auth/orkut_128.png', :title => 'Orkut'), 'google', :class => 'provider'
      - OauthProvider.order('"order"').all.each do |p|
        = link_to image_tag("auth/#{p.path}_128.png", :title => p.name), p.path, :class => 'provider'
      %fieldset
        = check_box_tag 'remember_me', "1", true
        = label_tag 'remember_me', t('.remember_me'), :class => 'inline'
    %p= t('.description_html')
    %p= t('.tips_html')
= javascript_include_tag 'login'
