#user
  = link_to '#', :id => 'user_menu_link' do
    = image_tag current_user.display_image, :id => 'display_image'
    = truncate current_user.display_name, :length => 24
    = image_tag 'dropdown.png', :class => 'dropdown'
  #user_menu.hide
    %ul
      %li= link_to t('.my_profile'), user_path(current_user)
      %li
        = link_to credits_path do
          = t('.my_credits')
          .small (#{current_user.display_credits})
      %li= link_to t('.logout'), logout_path
= javascript_include_tag 'user'
