!!! 5
%html{:lang => :pt}
  = render :partial => 'layouts/head'
  %body#site
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    - if current_user and (not current_user.backs.display_notice.empty? or not current_user.notifications.not_dismissed.empty?)
      #pre_header
        - current_user.backs.display_notice.each do |back|
          %div{:id => "back_notice_#{back.id}", :class => "back_notice"}
            Você apoiou o projeto #{link_to(truncate(back.project.name, :length => 32), project_path(back.project))}. Conte para todo mundo o que você fez!
            &nbsp;
            %a.close{ :href => '#' } X
            = link_to "http://www.facebook.com/share.php?u=#{project_url(back.project)}&t=Eu apoiei o projeto \"#{back.project.name}\" no Catarse&v=4", :target => :_blank do
              = image_tag 'auth/facebook_64.png', :title => 'Facebook', :class => 'social'
            = link_to "http://twitter.com/?status=Eu apoiei o projeto \"#{back.project.name}\" no @Catarse_ #{back.project.short_url}", :target => :_blank do
              = image_tag 'auth/twitter_64.png', :title => 'Twitter', :class => 'social'
        = javascript_include_tag 'back_notices'
        - current_user.notifications.not_dismissed.order(:created_at).each do |notification|
          %div{:id => "notification_#{notification.id}", :class => "notification"}
            = notification.text.html_safe
            &nbsp;
            %a.close{ :href => '#' } X
            - if notification.facebook_text
              = link_to "http://www.facebook.com/share.php?u=#{(notification.project ? project_url(notification.project) : root_url)}&t=#{notification.facebook_text}&v=4", :target => :_blank do
                = image_tag 'auth/facebook_64.png', :title => 'Facebook', :class => 'social'
            - if notification.twitter_text
              = link_to "http://twitter.com/?status=#{notification.twitter_text}", :target => :_blank do
                = image_tag 'auth/twitter_64.png', :title => 'Twitter', :class => 'social'
        = javascript_include_tag 'notifications'
    - else
      #pre_header
        Quer saber como apoiar um projeto? #{link_to 'Confira aqui', 'http://blog.catarse.me/post/2826297563/passo-a-passo-apoiar-projetos', :target => :_blank} um passo-a-passo que publicamos no nosso blog.
    #main
      #header_wrapper
        #header
          = render :partial => "/sites/#{current_site}/logo"
          = render '/layouts/user' if current_user
          #menu
            %ul
              %li= link_to "Explore os projetos", explore_path
              %li= link_to "Envie seu projeto", guidelines_path, :id => 'new_project_link'
              - unless current_user
                %li= link_to "Cadastre-se", '#', :id => 'signup_link'
                %li= link_to "Login", '#', :id => 'login_link'
          .clear
      #content_wrapper
        #content_header_wrapper
          #content_header
            = yield :content_header
        #content
          = yield
      #footer= render :partial => "/sites/#{current_site}/footer"
    = render '/layouts/login' unless current_user
