!!! 5
%html{:lang => :pt}
  = render :partial => 'layouts/head'
  %body#site
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    #main
      #header
        %h1= link_to "Catarse", root_path
        = render '/layouts/user' if current_user
        #menu
          %ul
            %li= link_to "Envie seu projeto", guidelines_path, :id => 'new_project_link'
            - unless current_user
              %li= link_to "Cadastre-se", '#', :id => 'signup_link'
              %li= link_to "Login", '#', :id => 'login_link'
        .clear
      #content_wrapper
        #content_header
          = yield :content_header
        #content
          = yield
      #footer
        #footer_menu
          %ul
            -#%li= link_to "Sobre nós", '#'
            %li= link_to "Como funciona?", guidelines_path
            %li= link_to "FAQ/Ajuda", faq_path
            %li= link_to "Termos de uso", terms_path
            %li= link_to "Política de privacidade", privacy_path
            %li= mail_to "contato@catarse.me", "Contato"
        #social_menu
          %ul
            %li
              = link_to 'http://twitter.com/Catarse_', :target => :_blank do
                = image_tag('social/twitter_32.png', :title => "Twitter")
                Siga no Twitter
            %li
              = link_to 'http://www.facebook.com/pages/Catarse/127481150652036', :target => :_blank do
                = image_tag('social/facebook_32.png', :title => "Facebook")
                Curta no Facebook
            %li
              = link_to 'http://blog.catarse.me', :target => :_blank do
                = image_tag('social/rss_32.png', :title => "Blog")
                Leia o blog
        #colophon
          = link_to "", "http://softa.com.br", :target => :_blank, :id => "softa_logo"
          %p#copyright Copyright © 2010
    = render '/layouts/login' unless current_user
