!!! 5
%html{:lang => I18n.locale}
  = render :partial => 'layouts/head'
  %body#platform
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    = render :partial => 'layouts/locales'
    = render :partial => 'layouts/pre_header'
    #main
      #header_wrapper
        #header
          %h1{:class=>"#{align_logo_when_home}"}
            = link_to root_path do
              = image_tag "logo.png", :title => t('site.name')
          = render '/layouts/user' if current_user
          #menu
            %ul
              %li= link_to t('.menu.explore'), explore_path
              %li= link_to t('.menu.submit'), guidelines_path, :id => 'new_project_link'
              - unless current_user
                %li= link_to t('.menu.signup'), '#', :id => 'signup_link'
                %li= link_to t('.menu.login'), '#', :id => 'login_link'
          .clear
      #content_wrapper
        #content_header_wrapper
          #content_header
            = yield :content_header
        - if is_homepage?
          #notification_wrapper
            %div
              %h1= raw(t('.notifications.new_curated_pages'))
        #content
          = yield
      #footer= render :partial => "layouts/footer"
    = render '/layouts/login' unless current_user
- if params[:require_login].present? or params[:show_new_user].present?  or params[:show_forgot_password].present?
  :javascript
    $(function(){$("#login_link").click();});