!!! 5
%html{:lang => :pt}
  %head
    %meta{:charset => 'utf-8'}
    %title= "#{@title}#{' · ' if @title}#{t 'app.title'}"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.6.custom.min.js'
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
  %body#site
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    #main
      #header
        %h1= link_to t('app.title'), root_path
        = render '/layouts/user' if current_user
        #menu
          %ul
            %li= link_to t('header.menu.new_project'), (current_user ? new_project_path : '#'), :id => 'new_project_link'
            - unless current_user
              %li= link_to t('header.menu.login'), '#', :id => 'login_link'
        .clear
      #content
        = yield
      #footer
        = t 'app.copyright'
    = render '/layouts/login' unless current_user
