!!! 5
%html{:lang => :pt}
  %head
    %meta{:charset => 'utf-8'}
    %title #{@title} · #{t 'app.title'}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
  %body#site
    #main
      = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
      #header
        %h1= link_to t('app.title'), root_path
        #menu
          %ul
            %li= link_to t('header.menu.new_project'), new_project_path
            %li= link_to t('header.menu.login'), '#'
        .clear
      #content
        = yield
      #footer
        = t 'app.copyright'
