!!! 5
%html{:lang => :pt}
  %head
    %meta{:charset => 'utf-8'}
    %title #{@title} · #{t 'app.title'}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
  %body#site
    %section#main
      %header
        %h1= link_to t('app.title'), root_path
        %nav
          %ul
            %li= link_to t('projects.new'), new_project_path
            %li= link_to t('app.login'), new_user_session_path
        .clear
      %section#content
        = yield
      %footer
        = t 'app.copyright'

