!!! 5
%html{:lang => I18n.locale}
  = render :partial => 'layouts/head'
  %body#site
    = render :partial => 'layouts/flash', :locals => { :flash => flash } unless flash.empty?
    = render :partial => 'layouts/locales'
    = render :partial => 'layouts/pre_header'
    #main
      #header_wrapper
        #header
          = render :partial => "/sites/#{current_site.path}/logo"
          = render '/layouts/user' if current_user
          #menu
            %ul
              %li= link_to t('.menu_explore'), explore_path
              %li= link_to t('.menu_submit'), guidelines_path, :id => 'new_project_link'
              - unless current_user
                %li= link_to "Cadastre-se", '#', :id => 'signup_link'
                %li= link_to "Login", '#', :id => 'login_link'
          .clear
      #content_wrapper
        #content_header_wrapper
          #content_header
            = yield :content_header
        #content
          = yield
      #footer= render :partial => "/sites/#{current_site.path}/footer"
    = render '/layouts/login' unless current_user
