!!! 5
%html{:lang => :pt}
  %head
    %meta{:charset => 'utf-8'}
    %title= "#{@title}#{' · ' if @title}#{t('site.name')}"
    = stylesheet_link_tag 'application'
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tag
    %link{ :rel => 'shortcut icon', :href => "/assets/favicon.ico" }
    = render '/layouts/analytics'
  %body#platform{ "data-namespace" => namespace, "data-controller" => controller_name, "data-action" => action_name }
    = yield
